body {
    background-color:#b000b0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 { font-size: 175%; font-weight: bold; text-align: center; }

#outer {
    background-color:#b0e0e6;
    margin: 0 auto;    
    padding: 5px;
    width: 90%;
}

.book {
    font-size: 1.0em;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.book .title {
    display: inline-block;
    width: 30%;
}

.book .author {
    display: inline-block;
    width: 35%;
}

.book .isbn {
    display: inline-block;
    width: 15%;
}

.book .count {
    color: #777;
    display: inline-block;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    width: 5%;
}

.book .button {
    display: inline-block;
    cursor: pointer;
    width: 5%;
}

